*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("background\ image.jpg");
    background-size: contain;
}

.mini-project-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}